<a href="https://colab.research.google.com/github/rprakashiyer/Python/blob/main/Pandas/pandas_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# https://drive.google.com/file/d/11itYrYHXKYS4_d_RkxVwE7-GwIR8Dgr1/view?usp=sharing

In [ ]:
!gdown 11itYrYHXKYS4_d_RkxVwE7-GwIR8Dgr1

Downloading...
From: https://drive.google.com/uc?id=11itYrYHXKYS4_d_RkxVwE7-GwIR8Dgr1
To: /content/Pfizer_1.csv
100% 1.51k/1.51k [00:00<00:00, 2.20MB/s]

In [ ]:
# https://drive.google.com/file/d/1JJnPzbvSu9hC9U8iGgd6HFLxyoIFwjbD/view?usp=sharing

In [ ]:
!gdown 1JJnPzbvSu9hC9U8iGgd6HFLxyoIFwjbD

Downloading...
From: https://drive.google.com/uc?id=1JJnPzbvSu9hC9U8iGgd6HFLxyoIFwjbD
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 60.4MB/s]

In [ ]:
# https://drive.google.com/file/d/1ed6Xj1Qkt3-zqIamiV7Bq5ct8MKPszL4/view?usp=sharing

In [ ]:
!gdown 1ed6Xj1Qkt3-zqIamiV7Bq5ct8MKPszL4

Downloading...
From: https://drive.google.com/uc?id=1ed6Xj1Qkt3-zqIamiV7Bq5ct8MKPszL4
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 67.4MB/s]

In [ ]:
movies = pd.read_csv('/content/movies.csv', index_col=0)
directors = pd.read_csv('/content/directors.csv',index_col=0)
data = movies.merge(directors, how='left', left_on='director_id',right_on='id')  
data.drop(['director_id','id_y'],axis=1,inplace=True)

In [ ]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
data['budget'] = (data['budget']/1000000).round(2)
data['revenue'] = (data['revenue']/1000000).round(2)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0.00,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0.00,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

### Transform works on one particular column

In [ ]:
def calc_exp(x):
  x = x - x.mean()
  x['budget']

data.groupby("director_name").transform(calc_exp)
data

KeyError: ignored

### hence we need to select the column we need to work and then perform the function on that column

In [ ]:
def calc_exp(x):
  x = x - x.mean()
  return x

data["exp_or_inexp"] =data.groupby("director_name")['budget'].transform(calc_exp)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,exp_or_inexp
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,130.300000
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,141.857143
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,150.142857
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,124.375000
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,174.004545
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,-47.478947
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,-11.976667
1462,48375,0.00,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,-21.700000
1463,48376,0.00,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,-10.890909
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,-31.168750

In [ ]:
data.shape

(1465, 13)

### Using apply() we can pass the dataframe, and work with multiple columns and perform the operation inside the function

In [ ]:
def calc_risky(x):
  x["risky_status"] = (x["budget"] - x["revenue"].mean()) >= 0
  return x

data_risky=data.groupby("director_name").apply(calc_risky)
data_risky

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,exp_or_inexp,risky_status
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,130.300000,False
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,141.857143,False
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,150.142857,False
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,124.375000,False
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,174.004545,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,-47.478947,False
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,-11.976667,False
1462,48375,0.00,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,-21.700000,False
1463,48376,0.00,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,-10.890909,False
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,-31.168750,False

In [ ]:
data_risky[data_risky["risky_status"]==True][["title","director_name"]]

                                            title   director_name
7                               Quantum of Solace    Marc Forster
12    Pirates of the Caribbean: On Stranger Tides    Rob Marshall
15                                     Robin Hood    Ridley Scott
20                                     Battleship      Peter Berg
24                          X-Men: The Last Stand    Brett Ratner
...                                           ...             ...
1347                          The Sweet Hereafter     Atom Egoyan
1349                         90 Minutes in Heaven  Michael Polish
1351                                Light Sleeper   Paul Schrader
1356                           Dying of the Light   Paul Schrader
1383                  In the Name of the King III        Uwe Boll

[131 rows x 2 columns]

In [ ]:
data_risky.loc[data_risky["risky_status"]==True].head(10)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,exp_or_inexp,risky_status
7,43608,200.0,107,586.09,Quantum of Solace,6.1,2965,2008,Oct,Thursday,Marc Forster,Male,136.312500,True
12,43614,380.0,135,1045.71,Pirates of the Caribbean: On Stranger Tides,6.4,4948,2011,May,Saturday,Rob Marshall,Male,252.000000,True
15,43618,200.0,37,310.67,Robin Hood,6.2,1398,2010,May,Wednesday,Ridley Scott,Male,119.375000,True
20,43624,209.0,64,303.03,Battleship,5.5,2114,2012,Apr,Wednesday,Peter Berg,Male,111.666667,True
24,43630,210.0,3,459.36,X-Men: The Last Stand,6.3,3525,2006,May,Wednesday,Brett Ratner,Male,119.666667,True
29,43640,200.0,71,371.35,Terminator Salvation,5.9,2463,2009,May,Wednesday,McG,Male,105.000000,True
31,43642,200.0,81,531.86,World War Z,6.7,5560,2013,Jun,Thursday,Marc Forster,Male,136.312500,True
47,43666,170.0,32,185.77,Hugo,7.0,2141,2011,Nov,Tuesday,Martin Scorsese,Male,122.521053,True
53,43672,175.0,44,264.22,Waterworld,5.9,992,1995,Jul,Friday,Kevin Reynolds,NaN,115.400000,True
69,43709,155.0,39,167.30,Alexander,5.6,927,2004,Nov,Sunday,Oliver Stone,Male,113.671429,True

### To find the mean budget and revenue of movies by Rob Marshall, from the highly risky DataFrame

In [ ]:
data_risky.loc[data["director_name"]=="Rob Marshall",["budget","revenue"]].mean()

budget     128.000
revenue    356.292
dtype: float64

In [ ]:
data.loc[:,["revenue","budget","vote_average"]]

      revenue  budget  vote_average
0     2787.97  237.00           7.2
1      961.00  300.00           6.9
2      880.67  245.00           6.3
3     1084.94  250.00           7.6
4      890.87  258.00           5.9
...       ...     ...           ...
1460     0.32    0.00           7.9
1461     3.15    0.03           7.4
1462     0.00    0.00           6.0
1463     0.00    0.00           6.4
1464     2.04    0.22           6.6

[1465 rows x 3 columns]

In [ ]:
data.loc[:,["revenue","budget","vote_average"]].apply(np.mean,axis=0)

revenue         143.253952
budget           48.022949
vote_average      6.368191
dtype: float64

In [ ]:
data.apply?

In [ ]:
df = pd.read_csv('/content/Pfizer_1.csv')
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

### Restructuring of data, to make it comprehensible

In [ ]:
pd.Series([1,np.nan,2,3,np.nan])

0    1.0
1    NaN
2    2.0
3    3.0
4    NaN
dtype: float64

In [ ]:
pd.Series([1,np.nan,2,3,np.nan,None])

0    1.0
1    NaN
2    2.0
3    3.0
4    NaN
5    NaN
dtype: float64

In [ ]:
pd.Series(["1","np.nan","2","3","np.nan",None])

0         1
1    np.nan
2         2
3         3
4    np.nan
5      None
dtype: object

In [ ]:
df.isna()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
5,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
11,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
5,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
11,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [ ]:
df.dropna()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [ ]:
df.dropna(how="all")

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [ ]:
data.fillna(0)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,exp_or_inexp
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,130.300000
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,141.857143
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,150.142857
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,124.375000
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,174.004545
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,-47.478947
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,-11.976667
1462,48375,0.00,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,-21.700000
1463,48376,0.00,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,-10.890909
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,0,-31.168750

In [ ]:
df.columns

Index(['Date', 'Drug_Name', 'Parameter', '1:30:00', '2:30:00', '3:30:00',
       '4:30:00', '5:30:00', '6:30:00', '7:30:00', '8:30:00', '9:30:00',
       '10:30:00', '11:30:00', '12:30:00'],
      dtype='object')

In [ ]:
pd.melt(df,
        id_vars=["Date","Drug_Name","Parameter"])

           Date                Drug_Name    Parameter  variable  value
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00   23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00   12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00    NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00    NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00   24.0
..          ...                      ...          ...       ...    ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00   14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00   23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00   28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00   24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00   15.0

[216 rows x 5 columns]

In [ ]:
pd.melt(df,
        id_vars=["Date","Drug_Name","Parameter"]).shape

(216, 5)

In [ ]:
df_melt=pd.melt(df,
        id_vars=["Date","Drug_Name","Parameter"],
        var_name="Time",
        value_name="Result")

In [ ]:
df_melt

           Date                Drug_Name    Parameter      Time  Result
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00    23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00    12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00     NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00     NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00    24.0
..          ...                      ...          ...       ...     ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00    14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00    23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00    28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00    24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00    15.0

[216 rows x 5 columns]

In [ ]:
df_melt.pivot(index=["Date","Drug_Name","Parameter"],
                columns="Time",
                values="Result")

Time                                            10:30:00  11:30:00  12:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure         18.0      19.0      20.0
                                   Temperature      20.0      20.0      21.0
           docetaxel injection     Pressure         26.0      29.0      28.0
                                   Temperature      23.0      25.0      25.0
           ketamine hydrochloride  Pressure          9.0       9.0      11.0
                                   Temperature      22.0      21.0      20.0
16-10-2020 diltiazem hydrochloride Pressure         24.0       NaN      27.0
                                   Temperature      40.0       NaN      42.0
           docetaxel injection     Pressure         28.0      29.0      30.0
                                   Temperature      56.0      57.0      58.0
           ketamine hydrochloride  Pressure         16.0      17.0      18.0
                                   Temperature      13.0      14.0      15.0
17-10-2020 diltiazem hydrochloride Pressure         11.0      13.0      14.0
                                   Temperature      14.0      11.0      10.0
           docetaxel injection     Pressure         28.0      29.0      28.0
                                   Temperature      21.0      22.0      23.0
           ketamine hydrochloride  Pressure         13.0      14.0      15.0
                                   Temperature      22.0      23.0      24.0

Time                                            1:30:00  2:30:00  3:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        12.0     13.0      NaN
                                   Temperature     23.0     22.0      NaN
           docetaxel injection     Pressure         NaN     22.0     22.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         8.0      NaN      NaN
                                   Temperature     24.0      NaN      NaN
16-10-2020 diltiazem hydrochloride Pressure        18.0     19.0     20.0
                                   Temperature     34.0     35.0     36.0
           docetaxel injection     Pressure        23.0     24.0      NaN
                                   Temperature     46.0     47.0      NaN
           ketamine hydrochloride  Pressure        12.0     12.0     13.0
                                   Temperature      8.0      9.0     10.0
17-10-2020 diltiazem hydrochloride Pressure         3.0      4.0      4.0
                                   Temperature     20.0     19.0     19.0
           docetaxel injection     Pressure        20.0     22.0     22.0
                                   Temperature     12.0     13.0     14.0
           ketamine hydrochloride  Pressure         8.0      9.0     10.0
                                   Temperature     13.0     14.0     15.0

Time                                            4:30:00  5:30:00  6:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        11.0     13.0     14.0
                                   Temperature     21.0     21.0     22.0
           docetaxel injection     Pressure         NaN     22.0     23.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         7.0      NaN      9.0
                                   Temperature     27.0      NaN     26.0
16-10-2020 diltiazem hydrochloride Pressure        21.0     22.0     23.0
                                   Temperature     36.0     37.0     38.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     48.0     48.0     49.0
           ketamine hydrochloride  Pressure         NaN     15.0     15.0
                                   Temperature      NaN     11.0     12.0
17-10-2020 diltiazem hydrochloride Pressure         4.0      6.0      8.0
                                   Temperature     18.0     17.0     16.0
           docetaxel injection     Pressure        22.0     22.0     23.0
                                   Temperature     15.0     16.0     17.0
           ketamine hydrochloride  Pressure        11.0     11.0     12.0
                                   Temperature     16.0     17.0     18.0

Time                                            7:30:00  8:30:00  9:30:00
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        16.0     16.0     24.0
                                   Temperature     23.0     21.0     22.0
           docetaxel injection     Pressure         NaN      NaN     27.0
                                   Temperature      NaN      NaN     23.0
           ketamine hydrochloride  Pressure        10.0     11.0     10.0
                                   Temperature     25.0     24.0     23.0
16-10-2020 diltiazem hydrochloride Pressure        24.0     25.0     25.0
                                   Temperature     37.0     38.0     39.0
           docetaxel injection     Pressure        28.0     29.0     28.0
                                   Temperature     50.0     52.0     55.0
           ketamine hydrochloride  Pressure        15.0     15.0      NaN
                                   Temperature     12.0     11.0      NaN
17-10-2020 diltiazem hydrochloride Pressure         9.0      NaN      9.0
                                   Temperature     15.0      NaN     13.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     18.0     19.0     20.0
           ketamine hydrochloride  Pressure        12.0     11.0     12.0
                                   Temperature     19.0     20.0     21.0

In [ ]:
df_melt.pivot(index=["Date","Drug_Name","Time"],
                columns="Parameter",
                values="Result")

Parameter                                    Pressure  Temperature
Date       Drug_Name               Time
15-10-2020 diltiazem hydrochloride 10:30:00      18.0         20.0
                                   11:30:00      19.0         20.0
                                   12:30:00      20.0         21.0
                                   1:30:00       12.0         23.0
                                   2:30:00       13.0         22.0
...                                               ...          ...
17-10-2020 ketamine hydrochloride  5:30:00       11.0         17.0
                                   6:30:00       12.0         18.0
                                   7:30:00       12.0         19.0
                                   8:30:00       11.0         20.0
                                   9:30:00       12.0         21.0

[108 rows x 2 columns]

In [ ]:
df_tidy=df_melt.pivot(index=["Date","Drug_Name","Time"],
                columns="Parameter",
                values="Result").reset_index()
df_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [ ]:
df_tidy.isna().sum()

Parameter
Pressure       13
Temperature    13
dtype: int64

In [ ]:
df_tidy[df_tidy["Drug_Name"]=="diltiazem hydrochloride"]

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
5,15-10-2020,diltiazem hydrochloride,3:30:00,NaN,NaN
6,15-10-2020,diltiazem hydrochloride,4:30:00,11.0,21.0
7,15-10-2020,diltiazem hydrochloride,5:30:00,13.0,21.0
8,15-10-2020,diltiazem hydrochloride,6:30:00,14.0,22.0
9,15-10-2020,diltiazem hydrochloride,7:30:00,16.0,23.0
10,15-10-2020,diltiazem hydrochloride,8:30:00,16.0,21.0
11,15-10-2020,diltiazem hydrochloride,9:30:00,24.0,22.0
36,16-10-2020,diltiazem hydrochloride,10:30:00,24.0,40.0
37,16-10-2020,diltiazem hydrochloride,11:30:00,NaN,NaN
38,16-10-2020,diltiazem hydrochloride,12:30:00,27.0,42.0
39,16-10-2020,diltiazem hydrochloride,1:30:00,18.0,34.0
40,16-10-2020,diltiazem hydrochloride,2:30:00,19.0,35.0
41,16-10-2020,diltiazem hydrochloride,3:30:00,20.0,36.0
42,16-10-2020,diltiazem hydrochloride,4:30:00,21.0,36.0
43,16-10-2020,diltiazem hydrochloride,5:30:00,22.0,37.0
44,16-10-2020,diltiazem hydrochloride,6:30:00,23.0,38.0
45,16-10-2020,diltiazem hydrochloride,7:30:00,24.0,37.0
46,16-10-2020,diltiazem hydrochloride,8:30:00,25.0,38.0
47,16-10-2020,diltiazem hydrochloride,9:30:00,25.0,39.0
72,17-10-2020,diltiazem hydrochloride,10:30:00,11.0,14.0
73,17-10-2020,diltiazem hydrochloride,11:30:00,13.0,11.0
74,17-10-2020,diltiazem hydrochloride,12:30:00,14.0,10.0
75,17-10-2020,diltiazem hydrochloride,1:30:00,3.0,20.0
76,17-10-2020,diltiazem hydrochloride,2:30:00,4.0,19.0
77,17-10-2020,diltiazem hydrochloride,3:30:00,4.0,19.0
78,17-10-2020,diltiazem hydrochloride,4:30:00,4.0,18.0
79,17-10-2020,diltiazem hydrochloride,5:30:00,6.0,17.0
80,17-10-2020,diltiazem hydrochloride,6:30:00,8.0,16.0
81,17-10-2020,diltiazem hydrochloride,7:30:00,9.0,15.0
82,17-10-2020,diltiazem hydrochloride,8:30:00,NaN,NaN
83,17-10-2020,diltiazem hydrochloride,9:30:00,9.0,13.0

In [ ]:
df1=pd.DataFrame([[np.nan, 2, np.nan, 0],
[3, 4, np.nan, 1],
[np.nan, np.nan, np.nan, np.nan],
[np.nan, 3, np.nan, 4]],
columns=["A","B","C","D"])
df1

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [ ]:
df1["B"].fillna(df1["B"].mean())

0    2.0
1    4.0
2    3.0
3    3.0
Name: B, dtype: float64

In [ ]:
df1["D"].fillna(df1["D"].mean())

0    0.000000
1    1.000000
2    1.666667
3    4.000000
Name: D, dtype: float64

In [ ]:
df1.fillna(df1["D"].mean())

          A         B         C         D
0  1.666667  2.000000  1.666667  0.000000
1  3.000000  4.000000  1.666667  1.000000
2  1.666667  1.666667  1.666667  1.666667
3  1.666667  3.000000  1.666667  4.000000

### HW to fill the NAN of every column with their respective means

In [ ]:
df_tidy["Pressure"]=df_tidy.groupby("Drug_Name")["Pressure"].transform(lambda x:x.fillna(x.mean()))

In [ ]:
df_tidy["Temperature"]=df_tidy.groupby("Drug_Name")["Temperature"].transform(lambda x:x.fillna(x.mean()))

In [ ]:
df_tidy.isna().sum()

Parameter
Date           0
Drug_Name      0
Time           0
Pressure       0
Temperature    0
dtype: int64

In [ ]:
df_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [ ]:
df_tidy.pivot_table(index="Drug_Name",
                    columns="Date")

Parameter                 Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride  15.952020  21.952020   8.368687   21.737374
docetaxel injection      25.077957  26.873656  24.500000   23.962366
ketamine hydrochloride    9.983871  14.322581  11.500000   22.094086

Parameter
Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride  36.404040   16.40404
docetaxel injection      49.698925   17.50000
ketamine hydrochloride   12.534946   18.50000

In [ ]:
df_tidy.pivot_table?

In [ ]:
df_tidy.pivot_table(index="Drug_Name",
                    columns="Date",
                    aggfunc=np.min)

Parameter                 Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride       11.0  15.424242        3.0   20.000000
docetaxel injection           22.0  23.000000       20.0   17.000000
ketamine hydrochloride         7.0  11.935484        8.0   17.709677

Parameter                                           Time
Date                    16-10-2020 17-10-2020 15-10-2020 16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride  24.848485       10.0   10:30:00   10:30:00   10:30:00
docetaxel injection      30.387097       12.0   10:30:00   10:30:00   10:30:00
ketamine hydrochloride    8.000000       13.0   10:30:00   10:30:00   10:30:00

In [ ]:
df_tidy.pivot_table(index="Drug_Name",
                    columns="Date",
                    aggfunc=np.min,
                    margins=True)

Parameter                 Pressure                             Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020   All  15-10-2020
Drug_Name
diltiazem hydrochloride       11.0  15.424242        3.0   3.0        20.0
docetaxel injection           22.0       23.0       20.0  20.0        17.0
ketamine hydrochloride         7.0  11.935484        8.0   7.0   17.709677
All                            7.0  11.935484        3.0   3.0        17.0

Parameter                                                 Time             \
Date                    16-10-2020 17-10-2020   All 15-10-2020 16-10-2020
Drug_Name
diltiazem hydrochloride  24.848485       10.0  10.0   10:30:00   10:30:00
docetaxel injection      30.387097       12.0  12.0   10:30:00   10:30:00
ketamine hydrochloride         8.0       13.0   8.0   10:30:00   10:30:00
All                            8.0       10.0   8.0   10:30:00   10:30:00

Parameter
Date                    17-10-2020       All
Drug_Name
diltiazem hydrochloride   10:30:00  10:30:00
docetaxel injection       10:30:00  10:30:00
ketamine hydrochloride    10:30:00  10:30:00
All                       10:30:00  10:30:00

In [ ]:
df_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [ ]:
pd.cut(df_tidy["Temperature"],
       bins=,
       labels=)

TypeError: ignored

In [ ]:
temp_bins=[5,20,35,50,60]
temp_labels=["low","medium","high","very_high"]
df_tidy["Temp_cat"] = pd.cut(df_tidy["Temperature"],
       bins=temp_bins,
       labels=temp_labels,
       right=False)

In [ ]:
df_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temp_cat
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,medium
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,medium
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,medium
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,medium
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,medium
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,low
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,low
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,low
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,medium
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,medium